.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.restock-content {
    position: relative;
    border: 1px solid black;
    border-radius: 1rem;
    width: fit-content;
    min-width: 352px;
    min-height: 60vh;
}

.restock-content::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/dollar-bills.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 0.1;
    border-radius: 1rem;
}

.restock-title {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem 1rem 2rem 1rem;
    text-align: center;
    position: relative;
}

.restock-form-wrapper {
    border: 1px solid black;
    position: relative;
}

.restock-form {
    display: flex;
    flex-direction: column;
    position: relative;
}
.restock-form-field {
    font-size: 1.2rem;
    padding-left: 1rem;
}

.button-back, .button-deposit {
    min-height: 4rem;
    min-width: 8rem;
    margin: 1rem;
}

.total-amount {
    font-weight: bold;
    text-align: right;
    text-decoration: underline;
    text-align: right;
    display: flex;
}

.total-amount-value {
    padding: 1rem;
    margin-left: 10rem;
}

.actions {
    position: relative;
}
