<header class="header">
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button aria-label="menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="toolbar-title">ATM Simulator </span>
          <span class="menu-spacer"></span>
          <div class="toolbar-icons">
            <button mat-icon-button aria-label="favorite icon" class="toolbar-icon">
            <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button aria-label="share icon" class="toolbar-icon">
            <mat-icon>share</mat-icon>
            </button>
          </div>
        </mat-toolbar>
      </p>
</header>
