.header {
    min-height: 10vh;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 2rem;
    min-height: 80vh;
}

.main::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/dollar-bills.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 0.2;
}

.main-content {
    position: relative;
    border: 1px solid black;
    border-radius: 1rem;
    // min-width: 60%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display {
    min-height: 50%;
    // margin: 1rem;
    border-radius: 1rem;
}

.mat-card {
    border-radius: 1rem;
}

.card-title {
    margin: 1rem 0;
}

.mat-column-total {
    font-weight: bold;
    text-align: center;
    width: 2rem;
}

.actions {
    display: flex;
    justify-content: space-around;
    min-height: 40%;
    margin-bottom: 2rem;
}

.action-button-left {
    margin-right: 1rem;
}

.action-button-right {
    margin-left: 1rem;
}

.button-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-restock, .text-withdraw {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}

.footer {
    min-height: 10vh;
    padding-top: 5vh;
    text-align: center;
}

.menu-spacer {
    flex: 1 1 auto;
}

.bill-spacer {
    flex: 1 1 auto;
}

.bill-type, .bill-amount {
    min-width: 4rem;
}

.toolbar-title {
    text-transform: uppercase;
    padding-left:10px;
}

.mat-card-header {
    justify-content: center;
    padding-right: 2rem;
}

table.mat-table {
    min-width: 25rem;
}
