<app-header></app-header>
<main class="main">
    <div class="withdraw-content">
        <div class="withdraw-title">
            Deposit Form
        </div>
        <div class="withdraw-form-wrapper">
            <form class="withdraw-form" [formGroup]="reserveForm">
                <mat-form-field class="withdraw-form-field">
                    <mat-label> $1 </mat-label>
                    <input type="number" matInput formControlName="one"
                            placeholder="1">
                </mat-form-field>
                <mat-form-field class="withdraw-form-field">
                    <mat-label> $5 </mat-label>
                    <input type="number" matInput formControlName="five"
                            placeholder="1">
                </mat-form-field>
                <mat-form-field class="withdraw-form-field">
                    <mat-label> $10 </mat-label>
                    <input type="number" matInput formControlName="ten"
                            placeholder="1">
                </mat-form-field>
                <mat-form-field class="withdraw-form-field">
                    <mat-label> $20 </mat-label>
                    <input type="number" matInput formControlName="twenty"
                            placeholder="1">
                </mat-form-field>
                <mat-form-field class="withdraw-form-field">
                    <mat-label> $50 </mat-label>
                    <input type="number" matInput formControlName="fifty"
                            placeholder="1">
                </mat-form-field>
                <mat-form-field class="withdraw-form-field">
                    <mat-label> $100 </mat-label>
                    <input type="number" matInput formControlName="hundred"
                            placeholder="1">
                </mat-form-field>
            </form>
        </div>
        <div class="total-amount">
            <div class="current-amount">
                <div class="balance-title">
                    Your balance:
                </div>
                <div class="balance-amount">
                    {{ currentAmount | currency }}
                </div>
            </div>
            <div class="withdraw-amount">
                <div class="requested-title">
                    Requested amount:
                </div>
                <div class="requested-amount">
                    {{ withdrawAmount$ | async | currency }}
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="action-button-left">
                <button mat-icon-button aria-label="back icon" (click)="onBack()">
                    <div class="button-text">
                        <mat-icon class="icon-back">arrow_back</mat-icon>
                        <span class="text-back">Back</span>
                    </div>
                </button>
            </div>
            <div class="action-button-right">
                <button mat-icon-button aria-label="withdraw icon" (click)="onWithdraw()">
                    <div class="button-text">
                        <mat-icon class="icon-withdraw">takeout_dining</mat-icon>
                        <span class="text-withdraw">Withdraw</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
